[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
environs = {extras = ["django"], version = "*"}
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
