{% extends 'base.html' %}
{% load static %}

{% block title %}ローカル対戦{% endblock title %}

{% block extra_css %}
<!-- オセロの対戦画面専用のCSSを読み込む -->
<link href="{% static 'css/match.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<!-- JavaScriptで使用するCSRFトークンとゲーム初期データを、data属性でHTMLに埋め込む -->
<div id="csrf-data" data-csrf="{{ csrf_token }}"></div>
<div id="initial-match-data" data-match-id="{{ match.pk }}" data-initial-turn="{{ match.turn }}"
    data-initial-board="{{ board }}" data-initial-status="{{ match.result }}">
</div>

<!-- 現在のターン（プレイヤー）を表示する -->
<div class="turn-indicator"><span id="turn" name="turn"></span>の番</div>

<!--オセロの盤面を表示する-->
<div class="othello-grid-container"></div>
<!-- 注意。実装当初はEmmet記法で以下のように書いた。 -->
<!-- .othello-grid-item#othello-grid-item$@0*64>.othello-grid-cell#othello-cell$@0 -->
<!-- セルを0から63で番号付けしたため、フロントエンドでは１次元配列でオセロの盤面を管理することにした -->
<!-- 今後、余裕があればフロントエンドでも２次元配列として盤面を管理するように書き換える -->

<!-- 駒を打つ処理の際、ネットワークエラー等が起これば、エラーメッセージを表示する -->
<div id="response"></div>

<!-- パスと終局処理をするためのボタン -->
<div class="othello-button-container">
    <button type="button" class="btn btn-secondary btn-lg" id="pass-turn">パス</button>
    <button type="button" class="btn btn-secondary btn-lg" id="end-game">終局</button>
</div>

<!-- ゲーム結果を表示する -->
<div id="game-result" class="result-box">
    <p>黒: {{match.black_player}}さん　白: {{match.white_player}}さん</p>
    <p class="counts"></p>
    <p class="result">対局中</p>
</div>


{% endblock content %}

{% block extra_js %}
<!-- JavaScript-->
<script src="{% static 'js/match.js' %}"></script>
{% endblock %}