{% extends 'base.html' %}
{% load static %}

{% block title %}ローカル対戦{% endblock title %}

{% block extra_css %}
<!-- オセロの対戦画面専用のCSSを読み込む -->
<link href="{% static 'css/match.css' %}" rel="stylesheet">
{% endblock %}
<!-- CSS
<link href="{% static 'css/base.css' %}" rel="stylesheet"> -->

{% block content %}

<div id="csrf-data" data-csrf="{{ csrf_token }}"></div>
<div id="initial-turn" data-initial-turn="{{ turn }}"></div>
<!-- <div id="initial-board" data-initial-board="{{ board|json_script }}"></div> -->
<div id="initial-board" data-initial-board="{{ board }}"></div>

<!-- {% csrf_token %} -->


<div class="turn-indicator"><span id="turn" name="turn"></span>の番</div>

<!--オセロの盤面-->
<div class="othello-grid-container">
    <!-- .othello-grid-item#othello-grid-item$@0*64>.othello-grid-cell#othello-cell$@0 -->
    <div class="othello-grid-item" id="othello-grid-item0">
        <div class="othello-grid-cell" id="othello-cell0"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item1">
        <div class="othello-grid-cell" id="othello-cell1"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item2">
        <div class="othello-grid-cell" id="othello-cell2"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item3">
        <div class="othello-grid-cell" id="othello-cell3"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item4">
        <div class="othello-grid-cell" id="othello-cell4"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item5">
        <div class="othello-grid-cell" id="othello-cell5"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item6">
        <div class="othello-grid-cell" id="othello-cell6"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item7">
        <div class="othello-grid-cell" id="othello-cell7"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item8">
        <div class="othello-grid-cell" id="othello-cell8"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item9">
        <div class="othello-grid-cell" id="othello-cell9"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item10">
        <div class="othello-grid-cell" id="othello-cell10"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item11">
        <div class="othello-grid-cell" id="othello-cell11"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item12">
        <div class="othello-grid-cell" id="othello-cell12"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item13">
        <div class="othello-grid-cell" id="othello-cell13"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item14">
        <div class="othello-grid-cell" id="othello-cell14"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item15">
        <div class="othello-grid-cell" id="othello-cell15"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item16">
        <div class="othello-grid-cell" id="othello-cell16"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item17">
        <div class="othello-grid-cell" id="othello-cell17"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item18">
        <div class="othello-grid-cell" id="othello-cell18"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item19">
        <div class="othello-grid-cell" id="othello-cell19"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item20">
        <div class="othello-grid-cell" id="othello-cell20"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item21">
        <div class="othello-grid-cell" id="othello-cell21"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item22">
        <div class="othello-grid-cell" id="othello-cell22"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item23">
        <div class="othello-grid-cell" id="othello-cell23"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item24">
        <div class="othello-grid-cell" id="othello-cell24"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item25">
        <div class="othello-grid-cell" id="othello-cell25"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item26">
        <div class="othello-grid-cell" id="othello-cell26"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item27">
        <div class="othello-grid-cell" id="othello-cell27"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item28">
        <div class="othello-grid-cell" id="othello-cell28"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item29">
        <div class="othello-grid-cell" id="othello-cell29"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item30">
        <div class="othello-grid-cell" id="othello-cell30"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item31">
        <div class="othello-grid-cell" id="othello-cell31"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item32">
        <div class="othello-grid-cell" id="othello-cell32"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item33">
        <div class="othello-grid-cell" id="othello-cell33"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item34">
        <div class="othello-grid-cell" id="othello-cell34"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item35">
        <div class="othello-grid-cell" id="othello-cell35"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item36">
        <div class="othello-grid-cell" id="othello-cell36"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item37">
        <div class="othello-grid-cell" id="othello-cell37"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item38">
        <div class="othello-grid-cell" id="othello-cell38"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item39">
        <div class="othello-grid-cell" id="othello-cell39"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item40">
        <div class="othello-grid-cell" id="othello-cell40"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item41">
        <div class="othello-grid-cell" id="othello-cell41"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item42">
        <div class="othello-grid-cell" id="othello-cell42"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item43">
        <div class="othello-grid-cell" id="othello-cell43"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item44">
        <div class="othello-grid-cell" id="othello-cell44"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item45">
        <div class="othello-grid-cell" id="othello-cell45"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item46">
        <div class="othello-grid-cell" id="othello-cell46"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item47">
        <div class="othello-grid-cell" id="othello-cell47"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item48">
        <div class="othello-grid-cell" id="othello-cell48"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item49">
        <div class="othello-grid-cell" id="othello-cell49"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item50">
        <div class="othello-grid-cell" id="othello-cell50"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item51">
        <div class="othello-grid-cell" id="othello-cell51"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item52">
        <div class="othello-grid-cell" id="othello-cell52"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item53">
        <div class="othello-grid-cell" id="othello-cell53"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item54">
        <div class="othello-grid-cell" id="othello-cell54"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item55">
        <div class="othello-grid-cell" id="othello-cell55"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item56">
        <div class="othello-grid-cell" id="othello-cell56"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item57">
        <div class="othello-grid-cell" id="othello-cell57"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item58">
        <div class="othello-grid-cell" id="othello-cell58"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item59">
        <div class="othello-grid-cell" id="othello-cell59"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item60">
        <div class="othello-grid-cell" id="othello-cell60"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item61">
        <div class="othello-grid-cell" id="othello-cell61"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item62">
        <div class="othello-grid-cell" id="othello-cell62"></div>
    </div>
    <div class="othello-grid-item" id="othello-grid-item63">
        <div class="othello-grid-cell" id="othello-cell63"></div>
    </div>
</div>
<div id="response"></div>
<!-- <script>        
        const othello_items = []
        for(let i = 0; i < 64; i++){
            othello_items[i] = document.getElementById(`othello-item${i}`)
        }
        for(let i = 0; i < 64; i++){
            othello_items[i].addEventListener('click', ()=>{
                //適当な処理を書く
                console.log(i)
            })
        }
        const othello_cells = []
        for(let i = 0; i<64; i++){
            othello_cells[i] = document.getElementById(`othello-cell${i}`)
        }
        for(let i=0; i < 64; i++){
            if(boardList[i] == 'black'){
                othello_cells[i].classList.remove('white')
                othello_cells[i].classList.add('black')
            }else if(boardList[i] == 'white'){
                othello_cells[i].classList.remove('black')
                othello_cells[i].classList.add('white')
            }
        }
    </script> -->

<button type="button" class="btn btn-secondary btn-lg" id="pass-turn">パス</button>

{% block extra_js %}
<!-- JavaScript-->
<script src="{% static 'js/match.js' %}"></script>
{% endblock %}

{% endblock content %}