.turn-indicator {
    text-align: center;
    font-size: 1.5rem;
}

#turn {
    font-size: 2rem;
}

/* オセロの盤面の格子 */
.othello-grid-container {
    display: grid;
    /* 8行の格子 */
    grid-template-rows: repeat(8, 1fr);
    /* 8列の格子 */
    grid-template-columns: repeat(8, 1fr);    
    /* 格子の幅 */
    width: 400px;
    /* 格子の高さ */
    height: 400px;
    /* 格子全体の枠 */
    border: 2px solid black;
    margin: 0 auto;
}

/* オセロのマス目 */
.othello-grid-item {
    display: flex;
    /*横方向の中央ぞろえ*/
    justify-content: center;
    /*縦方向の中央ぞろえ*/
    align-items: center;
    background-color: green;
    /* マス目の枠線 */
    border: 1px solid #ccc;
}

/* オセロの黒の駒 */
.othello-grid-cell.black {
    background-color: black;
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

/* オセロの白の駒 */
.othello-grid-cell.white {
    background-color: white;
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

.othello-button-container {
    /* ボタンを横並びに */
    display: flex;
    /* ボタンの間隔を空ける */
    gap: 20px;
    justify-content: center;
    margin: 10px auto;
}

#result-box {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Helvetica", sans-serif;
    width: fit-content;
    margin: 20px auto;
}

#result-box .counts {
    font-size: 18px;
    margin: 0;
    color: #333;
}

#result-box .result {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
    margin-top: 10px;
}

.navigation-buttons {
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px) {
    /* スマートフォン用のスタイル */
    .othello-grid-container {
        width: 92vw;
        height: 92vw;
    }
}