/* @theme your-theme */

@import 'gaia';

/* h1 {
  color: red;
} */

section {
    font-family: 'Noto Sans CJK JP', sans-serif;
}

/* section::before {
  content: attr(data-title);
  position: absolute;
  top: 10px;
  left: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #444;
} */