{% extends 'base.html' %}

{% block title %}ホーム{% endblock title %}
{% block content %}

<div class="container bg-light p-5 rounded-lg shadow-lg my-5">
    <div class="text-center mb-4">
        <h1 class="display-3 mb-3 fw-bold">オセロアプリ</h1>
        <p class="lead mb-4">Djangoで作成したシンプルなオセロゲームです。</p>
    </div>

    {% if user.is_authenticated %}
    <!-- ログイン後のトップ画面 -->
    <div class="text-center">
        <p class="h3 mb-4 fw-bold">{{ user.username }} さん、ようこそ！</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg mx-3 my-2" href="{% url 'local_match_list' %}">対局履歴</a>
            <a class="btn btn-outline-secondary btn-lg mx-3 my-2" href="{% url 'local_match_new' %}">新しい対局を始める</a>
        </p>
    </div>
    {% else %}
    <!-- ログイン前のトップ画面 -->
    <div class="text-center">
        <h2 class="h4 mb-4 fw-bold">アカウント登録で、対局データの保存や履歴確認が可能になります</h2>
        <div class="lead mb-4">
            <a href="{% url 'login' %}" class="btn btn-outline-dark btn-lg mx-3 my-2">ログイン</a>
            <a href="{% url 'signup' %}" class="btn btn-dark btn-lg mx-3 my-2">新規登録</a>
        </div>
        <h2 class="h4 mb-4 fw-bold">ゲストとして今すぐプレイも可能です！</h2>
        <div class="lead">
            <a href="{% url 'guest_games:home' %}" class="btn btn-secondary btn-lg mx-3 my-2">ゲストでプレイ</a>
        </div>
    </div>
    {% endif %}
</div>


{% endblock content %}